@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('../assets/font/HarmonyOS_Sans_SC_Light.subset.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('../assets/font/HarmonyOS_Sans_SC_Medium.subset.woff2') format('woff2');
  font-weight: 400 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('../assets/font/HarmonyOS_Sans_SC_Bold.subset.woff2') format('woff2');
  font-weight: 700 900;
  font-style: normal;
  font-display: swap;
}